body {
	background-color: #333;
	font-family: monospace;
}

main {
	padding: 1rem;
	background-color: #ccc;
}

/* smartphone view */
@media (max-width: 767px) {
	main {
		width: 100%;
	}
}

/* computer/tablet view */
@media (min-width: 768px) {
	body {
		display: flex;
		justify-content: center;
		padding-top: 2rem;
	}

	main {
		width: 40rem;
		border-radius: .5rem;
	}
}